@import "base/base.less";


input[type="checkbox"] {
	&::before {
		content: "";
        background-size: 100%;
        background-image: url(svgs/checkbox-unchecked.svg);
	}
	&:checked::before {
        background-image: url(svgs/checkbox-checked-ok.svg);
	}

	&::after {
		content: "";
	}
	
	&:checked::after {
	}

}

@checkbox-shrink: 0%;